.footer_bottom{
    border-top: none;
    background-color: #1a4d2d;
    line-height: 1.4em;
    padding: 10px 100px 15px 100px;
    position: relative;
}
.pt-4{
    padding-top: 0 !important;
}
.footer-copyright {
    color: #fff;

}
.copyright_left{
    margin-top: 10px;
    line-height: 46px;
    font-size: 13px;
    color: #fff;
}
a.copyright_middle{
    margin-top: 22px;
    opacity: 0.2;
    display: inline-block;
    color: #fff;
}
/* a:not([href]):not([tabindex]){
    color: #3f7157;
} */

.resources_title{
    font-size: 24px;
    font-weight: bold;
    color: #1a4d2d;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    /* margin-right: 0 0 30px; */
    white-space: nowrap;
    line-height: 1.1;
    font-family: inherit;
    margin-bottom: 30px;
}
.resources_list{
    /* width: 20%; */
    padding-right: 30px;
}
.resources_list ul a:hover{
    text-decoration: underline;
    color: #1a4d2d;
}
.list_re{
    font-size: 19px;
    -webkit-transition: all 0.2s ease-out 0s;
    color: #3c2828;
}
.list_re:hover{
    color: #1a4d2d;
}
.resources_list li{
    padding: 10px 0 !important;
}
.footer_one{
    padding: 15px 60px 0 60px;
    position: relative;
}
.image_width1{
    width: 25%;
    margin-bottom: 15px;
}
.image_width2{
    width: 25%;
    margin-bottom: 10px;
}
.social_icon{
    text-align: right; 
    margin-top: 7px;
}
.footer_one_flex{
    margin-left: 34!important;
}