
.learn_more3_feature{
    line-height: 50px;
    padding: 0 25px;
    font-size: 14px;
    margin-top: 14px;
    float: left;
    background: #6ca437;
    -webkit-transition: all 0.2s ease-out 0s;
    color: #fff;
    display: table;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 80px;

}
.learn_more3_feature:hover{
    background: #282828;
    text-decoration: none;
    border: none;
}
.design_back{
    background-image: url(./images/back_design.jpeg);
    padding: 80px 0 120px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background: no-repeat center /cover fixed; */
    color: #fff;
}
.design_back_title{
    font-size: 60px;
    /* font-family: 'Sortdecai Brush Script', Arial, Helvetica, sans-serif; */
    margin: 0 0 20px 0;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    margin-left: 80px;
    font-family: 'Fondamento', cursive;
}
.design_back_text{
    font-size: 15px;
    line-height: 24px;
    width: 100%;
    max-width: 490px;
    color: rgb(255, 255, 255, 0.8);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin-left: 80px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }